# Server 
SERVER_PORT=8080

# SQL Server (Đổi thông tin kết nối cho phù hợp với môi trường của bạn, nếu dùng SQL Server thì giữ nguyên, nếu dùng MySQL thì đổi lại)
DB_HOST=localhost
DB_PORT=1433
DB_NAME=flower_shop
DB_USERNAME=sa
DB_PASSWORD=your_password_here

# JWT (Đổi thành một câu dài và bảo mật cho dự án)
JWT_SECRET=your-256-bit-secret-key-change-in-production-minimum-32-chars
JWT_EXPIRATION_MS=86400000

# Redis (Đã setup WSL chạy ở cổng 6379, không có pass nên giữ nguyên)
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_TIMEOUT=60000

# JPA (Đổi thành true để khi chạy nó in ra câu lệnh SQL cho dễ kiểm tra lỗi)
JPA_SHOW_SQL=false

# CORS (Thêm URL frontend vào đây để backend cho phép kết nối từ frontend)
FRONTEND_URL=

# KEY sepay
SEPAY_SECRET_KEY=your-secret-key-